body {
  background-color: #fce12e;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;

  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 8px;

    span {
      font-weight: 600;
      color: #000000;
      display: block;
      width: 270px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .content {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .clear {
    clear: both;
  }

  .checkBox {
    display: block;
    cursor: pointer;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  }

  .checkBox div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
  }

  .checkBox input[type="checkbox"]:checked + div {
    left: -10px;
    top: -10px;
  }

  .checkBox input[type="checkbox"] {
    position: absolute;
    left: 50px;
    visibility: hidden;
  }

  .transition {
    transition: 300ms ease;
  }

  .delete {
    cursor: pointer;
    color: #ea1b00;
    font-size: 18px;
    font-weight: bold;
    display: block;
    width: fit-content;
    background-color: transparent;
    border: none;
  }
}

.todo-form {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 400px;

  input {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 8px;
    width: 100%;
    background: none;
    color: #000;
    font-weight: 600;
    &::placeholder {
      color: #000;
      font-weight: 400;
    }
  }

  button {
    padding: 10px;
    border: none;
    background-color: #000;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
  }
}