body {
  background-color: #fce12e;
}

body:has(.vol2){
  background-color: #ea1b00;

  .header {
    .brand {
      color: #fce12e;
    }
  }

  .todo-form {
    input {
      background-color: #fce12e;
    }
  }

  .todo-list {
    .todo {
      border-color: #000;
      background-color: #fce12e;
      span {
        color: #000;
      }
    }

    .checkBox {
      border-color: #000;
      div {
        background-color: #fff;
      }
    }
  }

  .faixa {
    background-color: #fce12e;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  width: 400px;

  .brand {
    font-size: 1.5rem;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    display: block;
    width: fit-content;
  }

  .switch {
    --input-focus: #ea1b00;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --bg-color-alt: #666;
    --main-color: #323232;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 50px;
    height: 20px;
  }
  
  .toggle {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    box-shadow: 4px 4px var(--main-color);
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fce12e;
    transition: 0.3s;
  }
  
  .slider:before {
    box-sizing: border-box;
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    left: -2px;
    bottom: 2px;
    background-color: var(--bg-color);
    box-shadow: 0 3px 0 var(--main-color);
    transition: 0.3s;
  }
  
  .toggle:checked + .slider {
    background-color: var(--input-focus);
  }
  
  .toggle:checked + .slider:before {
    transform: translateX(30px);
  }
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;

  .todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 1px solid #000;
    border-radius: 8px;

    span {
      font-weight: 600;
      color: #000000;
      display: block;
      width: 270px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .content {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .clear {
    clear: both;
  }

  .checkBox {
    display: block;
    cursor: pointer;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  }

  .checkBox div {
    width: 60px;
    height: 60px;
    background-color: #fff;
    top: -52px;
    left: -52px;
    position: absolute;
    transform: rotateZ(45deg);
    z-index: 100;
  }

  .checkBox input[type="checkbox"]:checked + div {
    left: -10px;
    top: -10px;
  }

  .checkBox input[type="checkbox"] {
    position: absolute;
    left: 50px;
    visibility: hidden;
  }

  .transition {
    transition: 300ms ease;
  }

  .delete {
    cursor: pointer;
    color: #ea1b00;
    font-size: 18px;
    font-weight: bold;
    display: block;
    width: fit-content;
    background-color: transparent;
    border: none;
  }
}

.todo-form {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 400px;

  input {
    padding: 10px;
    border: 1px solid #000;
    border-radius: 8px;
    width: 100%;
    background: none;
    color: #000;
    font-weight: 600;
    &::placeholder {
      color: #000;
      font-weight: 400;
    }
  }

  button {
    padding: 10px;
    border: none;
    background-color: #000;
    border-radius: 8px;
    cursor: pointer;
    color: #fff;
  }
}

.faixa {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 40px;
  width: 60px;
  height: 100%;
  background-color: #000;
}